<%- include('../layouts/header') %>
<%- include('../layouts/utils/navbar') %>
<h1 class="mt-3 text-center">Mahasiswa</h1>

<div class="container">
    <a class="btn btn-outline-primary my-3" href="/mahasiswa/add"><i class="bi bi-plus-circle"></i> Add Data
        Mahasiswa</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Deri Kurniawan</td>
                <td>deri.netuchi@gmail.com</td>
                <td>
                    <a class="badge text-light bg-primary text-decoration-none"
                        href="/mahasiswa/Deri-kurniawan/detail">Detail</a>
                    <a class="badge text-light bg-warning text-decoration-none"
                        href="/mahasiswa/Deri-kurniawan/edit">Edit</a>
                    <a class="badge text-light bg-danger text-decoration-none"
                        href="/mahasiswa/Deri-kurniawan/delete">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<%- include('../layouts/footer') %>